@using EasyTrip.Models
@model List<Blog>

<div class="bot-img">
    <div class="box1-left">
        @foreach (var x in Model)
        {
            <div class="bot-img">
                <a href="/Blog/BlogDetay/@x.BlogID"> <img id="im" src="@x.BlogImage" alt="" /></a>
            </div>
            <div class="bot-desc">
                <p>@x.Aciklama.Substring(0, 70)... </p>
            </div>
            <div class="clear"></div>
        }
    </div>
</div>

<style>
    #im{
        width:120px;
        height:75px;
    }
</style>