
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<!-- Sidebar -->
    <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:15%">
        <h3 class="w3-bar-item">MENÜLER</h3>
        <a href="/Admin/Index" class="w3-bar-item w3-button">BLOGLAR</a>
        <a href="/Yorumlar/Index" class="w3-bar-item w3-button">YORUMLAR</a>
        <a href="/Admin/Iletisim" class="w3-bar-item w3-button">İLETİŞİM</a>
        <a href="/Admin/Hakkimizda" class="w3-bar-item w3-button">HAKKIMIZDA </a>
        <a href="/Default/Index" class="w3-bar-item w3-button">SİTEYE DÖN </a>
        <a href="/Login/GirisYap" class="w3-bar-item w3-button">ÇIKIŞ YAP </a>

    </div>

<!-- Page Content -->
<div style="margin-left:15%">

<div class="w3-container w3-teal">
  <h4>Admin Yönetim Paneli</h4>
</div>


<div class="w3-container">
    @RenderBody()
</div>

</div>
      
</body>
</html>
