
<div class="content-form">
    <h3>Bir yorum yazınız: </h3>
    <form method="post">
        <input type="hidden" placeholder="BlogId:" value="@ViewBag.deger" name="BlogID" required />
        <input type="text" placeholder="Kullanıcı Adı: " name="Kullanici" required />
        <input type="text" placeholder="Email: " name="Mail" required />
        <textarea placeholder="Yorumunuz: " name="Yorum"></textarea>
        <input type="submit" value="YORUMU GÖNDER" />
      </form>
  </div>
